* {
  box-sizing: border-box ;
}

body,
html {
  margin: 0 ;
  direction: rtl ;
  min-width: 569px ;
  width: 100vw ;
}

a {
  color: rgb(0, 0, 0) ;
  text-decoration: none ;
}

a h3 {
  font-weight: 400 ;
}